@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

#basicFormWrapper1 {
	width: 100%;
	height: 2000px;
	/* 		background-color: black; */
}

#basicFormWrapper2 {
	width: 1200px;
	height: 1500px;
	/* 		background-color: red; */
	margin: 0 auto;
}

#sideBarWrapper {
	width: 270px;
	height: 312px;
	/* 		background-color: brown; */
	float: left;
}

#coreContentWrapper {
	width: 880px;
	height: 1400px;
	/* 		background-color: brown; */
	float: right;
}

#navAndTitleWrapper {
	width: 880px;
	height: 161px;
	/* 		background-color: yellow; */
}

#navAndTitleWrapper h3 {
	height: 50px;
	margin-top: 30px;
	padding-top: 20px;
	font-size: 35px;
	font-family: 'Nanum Gothic';
	font-weight: lighter;
}

#navAndTitleBar {
	height: 51px;
	border-top: 1px solid rgb(226, 214, 214, 0.904);
	border-bottom: 1px solid rgba(226, 214, 214, 0.904);
}

#navAndTitleBar span {
	display: inline-block;
	line-height: 50px;
}

#navAndTitleBar>a>i:nth-child(1) {
	position: relative;
	top: 5px;
}

/* 사이드바 css 시작 */
.navArea {
	width: 270px;
	height: 312px;
	float: left;
}
/*왼쪽 네비게이션 바 전체*/
.navArea h2 {
	position: relative;
	font-weight: normal;
	font-size: 2.188em;
	line-height: 160px;
	color: #fff;
	text-align: center;
	background: #46B7D9;
	margin: 0px;
}
/*네비게이션 상단바*/
ul.lnb {
	width: 270px;
	height: 152px;
	border: 1px solid #E2E2E2;
	overflow: hidden;
	word-break: keep-all;
	padding: 0px;
}
/*네비게이션 하단바*/
li.Nav_li_login {
	width: 270px;
	height: 50px;
	padding: 10px 20px;
	font-size: 20px;
	border: 1px solid #E2E2E2;
	background: #46B7D9;
}